In [16]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda\lib\site-packages (1.3.13)
Requirement already satisfied: pymysql in c:\users\dell\anaconda\lib\site-packages (0.9.3)

In [17]:
from sqlalchemy import create_engine
import pandas as pd

In [18]:
db_host= '18.136.56.185:3306'
username = 'dm_team2'
user_pass= 'dm_team1118#'
db_name='project_sales'

In [19]:
conn=create_engine('mysql+pymysql://dm_team2:dm_team1118#@18.136.56.185:3306/project_sales')
conn.table_names()

['data']

In [20]:
query = 'select * from data'
data = pd.read_sql(query,conn)
print(data.shape)
data

(7422, 9)

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,,Mode-5,Open
1,14-11-2018 09:22,,Website,XXXXXXX,#VALUE!,Sales-Agent-10,,Mode-5,Open
2,14-11-2018 09:21,,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,,Mode-5,Open
3,14-11-2018 08:46,,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
4,14-11-2018 07:34,,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
...,...,...,...,...,...,...,...,...,...
7417,28-04-2018 09:45,9,Call,,aXXXXXXX@gmail.com,Sales-Agent-6,Mumbai,Mode-4,LOST
7418,28-04-2018 09:43,15,Call,,#VALUE!,Sales-Agent-12,Other Locations,Mode-5,LOST
7419,28-04-2018 09:20,5,Live Chat-Direct,,sXXXXXXX@gmail.com,Sales-Agent-11,Bangalore,Mode-1,Not Responding
7420,28-04-2018 08:04,21,CRM form,,YXXXXXXX@gmail.com,Sales-Agent-4,Other Locations,Mode-1,Just Enquiry
7421,28-04-2018 07:54,25,Website,,cXXXXXXX@gmail.com,Sales-Agent-3,Chennai,Mode-1,CONVERTED

In [21]:
data.to_excel('C:\\Users\DELL\Desktop\Datamites projects\Apr2020\Sales_data.xlsx')

In [22]:
data.shape

(7422, 9)

In [23]:
data.describe()

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
count,7422,7422,7422,7422,7422,7422,7422,7422,7422
unique,6752,30,26,487,883,13,18,5,11
top,10-05-2018 12:30,18,Call,,#VALUE!,Sales-Agent-4,Other Locations,Mode-5,Junk Lead
freq,4,1711,2547,1810,1701,1500,2500,2975,1536

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7422 entries, 0 to 7421
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Created        7422 non-null   object
 1   Product_ID     7422 non-null   object
 2   Source         7422 non-null   object
 3   Mobile         7422 non-null   object
 4   EMAIL          7422 non-null   object
 5   Sales_Agent    7422 non-null   object
 6   Location       7422 non-null   object
 7   Delivery_Mode  7422 non-null   object
 8   Status         7422 non-null   object
dtypes: object(9)
memory usage: 522.0+ KB

In [25]:
data.to_csv('C:\\Users\DELL\Desktop\Datamites projects\Apr2020\Sales_data.csv')

In [26]:
data.isna().sum().to_frame().T

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,0,0,0,0,0,0,0,0,0

In [27]:
data.isna().sum().to_frame().any

<bound method DataFrame.any of                0
Created        0
Product_ID     0
Source         0
Mobile         0
EMAIL          0
Sales_Agent    0
Location       0
Delivery_Mode  0
Status         0>